{% extends 'base.html' %}

{% block title %}
<title>Madlib Form</title>
<h1>Madlib Input</h1>
{% endblock %}
{% block form %}
{% endblock %}
<!--<form action="/form" method="POST">-->
<!--    <div>-->
<!--        <label for="place">Place</label>-->
<!--        <input name="place" type="text" placeholder="Enter Place">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="noun">Noun</label>-->
<!--        <input name="noun" type="text" placeholder="Enter Noun">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="verb">Verb</label>-->
<!--        <input name="verb" type="text" placeholder="Enter Verb">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="adjective">Adjective</label>-->
<!--        <input name="adjective" type="text" placeholder="Enter Adjective">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="plural_noun">Plural Noun</label>-->
<!--        <input name="plural_noun" type="text" placeholder="Plural Noun">-->
<!--    </div>-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
