{% extends "base.html" %}
{% block title %}<title>Making Mad</title>{% endblock %}
{% block index %}
 <div class="dropdown">
  <button class="dropbtn">MadLibs</button>
  <form class="dropdown-content" name="story">
      <button formaction="/form/story1" method="POST">Madlib 1</button>
      <button formaction="/form/story2" method="POST">Madlib 2</button>
      <button formaction="/form/story3" method="POST">Madlib 3</button>
      <button formaction="/story" method="GET">Making Mad</button>
  </form>
</div>
{% endblock %}