{% extends "base.html" %}
{% block create_post %}
<h1 class="text-center">Create a New Post for {{user.full_name()}}</h1>
{% for msg in get_flashed_messages() %}
<p class="text-danger text-center">{{ msg }}</p>
{% endfor %}

<form class="container form mx-auto" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea type="text" class="form-control" rows="3" name="content" id="content"
            placeholder="What's on your mind"></textarea>
    </div>
    <div class="container">
        <h5>Tags:</h5>
        {% for tag in tags %}
        <label for="{{tag.name}}">{{tag.name}} <input type="checkbox" id={{tag.name}} value={{tag.id}} name="tags">
            {% endfor %}
    </div>
    <br>
    <button class="btn btn-primary" name="user" value="{{user.id}}" formmethod="POST" formaction="/add_post/">Add
        Post</button>
    <button class="btn btn-secondary" formmethod="GET" formaction="/user_detail/{{user.id}}">Cancel</button>
</form>


{% endblock %}