{% extends "base.html" %}
{% block post_detail %}

<form class="card mx-auto" style="width:22rem">
    <img src="{{user.img_url}}" class="card-image-top" alt="User Profile Pic">
    <div class="card-body text-center">
        <h5 class="card-title">{{user.full_name()}}</h1>
            <a class="btn btn-sm btn-primary" href="/user_detail/{{user.id}}">User Profile</a>
            <a class="btn btn-sm btn-secondary" href="/edit_post/{{post.id}}">Edit Post</a>
            <button class="btn btn-sm btn-danger" formmethod="POST" formaction="/delete_post/{{post.id}}">Delete
                Post</button>
    </div>
</form>
<div class="container mx-auto mt-3 p-2 border border-primary rounded" style="width:30rem">
    <h4 class="text-dark">{{post.title}}</h4>
    <hr>
    <blockquote>{{post.content}}</blockquote>
    <span><small>- {{user.full_name()}} {{post.create_at}}</small></span>
    <h6>Tags:</h6>
    <ul class="d-flex list-unstyled">
        {% for tag in tags %}
        <li class="border bg-primary border-rounded pl-1 pr-1 ml-2 mt-1"><a href="/tag_detail/{{tag.tag.id}}"
                class="text-white">{{tag.tag.name}}</a></li>
        {% endfor %}
    </ul>
</div>


{% endblock %}