{% extends "base.html" %}
{% block tag_detail %}

<form class="container mx-auto mt-3 p-2 border border-primary rounded" style="width:30rem">
    <h4 class="text-dark">{{tag.name}}</h4>
    <h6>Posts Tagged with {{tag.name}}</h6>
    <ul class="d-flex flex-wrap list-unstyled">
        {% for post in posts %}
        <li class="border bg-primary border-rounded pl-1 pr-1 ml-2 mt-1"><a href="/post_detail/{{post.post.id}}"
                class="text-white">{{post.post.title}}</a></li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary" formmethod="GET" formaction="/edit_tag/{{tag.id}}">Edit Tag</button>
    <button class="btn btn-danger" formmethod="POST" formaction="/delete_tag/{{tag.id}}">Delete Tag</button>
    <button class="btn btn-secondary" formmethod="GET" formaction="/tag_list/">Tag List</button>
</form>


{% endblock %}