*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: none;
    word-wrap: none;
}


h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(237, 241, 12, 0.726);
    color: purple;
    width: 100vw;
}

#formContainer{
    border-bottom: 2px solid purple;
    padding: 0px 75px;
    text-align: left;
    height: 400px;
}

form{
    color: purple;
}


label{
    font-size: 1.5rem;
    font-weight: bold;
    
}

input{
    margin: 10px auto 10px;
    word-wrap: none;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    border-color:  black;
}

input[type="text"],
input[type="url"] {
    width: 100%;
}

#myList {
    width: 100%;
    margin: 10px 0px 15px  0px;
    text-align: center;
}

button{
    padding: 10px 25px;
    font-weight: bold;
    background-color:  rgba(237, 241, 12, 0.726);
    border: 1px rgba(237, 241, 12, 0.726) solid;
}

#btn{
    text-align: center;
    margin: auto;
}

.memeContainer{
    position: relative;
    display: inline-block;
    top: 60px;
    margin: 10px;
    text-align: center;
    align-content: center; 
}

img {
    position: relative;
}

.color{
    position: absolute;
    background-size: cover;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
}

.top{
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    z-index: 2;
}

.bottom{
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-top: -4px;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    z-index: 2;
}

.topOuter{
    position: relative;
    top: 0;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.bottomOuter{
    position: relative;
    margin-top: -4px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}


@media all and (max-width: 600px){

    #formContainer {
        height: 550px;
    }

    #myForm div {
        display: flex;
        flex-direction: column;
    }

    div button {
        width: 200px;
        margin: auto;
    }
}